---
layout: layouts/level-play.pug
---

// Style
style.
    #blind-background {
        position: fixed;
        top: 4.5rem; left: 0;

        background: #101228;
        color: white;

        width: 100%;
        min-height: 100vh;
    }

    #blind-background #content > * {
        display: none;
    }

    #blind-background #content > *.active {
        display: block;
    }

// Content
#blind-background
    p.container Gebruik de Tab-toetsen!
    #content.container.hidden
        | !{content}
    
//- Info elements, read by javascript to be spoken
#blind-info(style="display: none")
    #page1_intro_text=  page1_intro_text
    #page1_submit_text= page1_submit_text
    #page2_intro_text=  page2_intro_text
    #page2_submit_text= page2_submit_text
    #page2_clear_text=  page2_clear_text
    #page2_submit_incorrect_text= page2_submit_incorrect_text

// Script
script(data-src="/assets/js/level-blind.js" type="text/javascript" data-load-script)