---
layout: layouts/level-play.pug
---

style.
    .background {
        position: fixed;
        top: 4.5rem; left: 0;

        width: 100%;
        height: calc(100vh - 4.5rem);

        display: flex;
        align-items: center; justify-content: center;

        background: #101228;
    }
    #koker-content {
        overflow: scroll;
        width: 80vh;
        height: 80vh;

        margin: 0 auto;
        padding: 10%;

        background: white;
        border-radius: 40vh;
        cursor: grab;
    }
    #koker-content > * {
        font-size: 5rem;
        width: 300vw;
        max-width: unset;
    }
    @media (max-width: 40rem) {
        .background {
            top: 0;
        }
        #koker-content {
            width: 90vw; height: 90vw;
            border-radius: 45vw;
        }
        #koker-content > * {
            width: 500vw;
        }
    }

    /* Hide user select, grabbing cursor */
    #koker-content * {
        user-select: none;
    }
    .grabbing {
        cursor: grabbing;
        user-select: none;
    }
    /* Hide scrollbar  */
    #koker-content::-webkit-scrollbar { display: none; }
    #koker-content { -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }


.background
    #koker-content
        .container
            | !{content}


// Script
script(data-src="/assets/js/level-kokervisie.js" type="text/javascript" data-load-script)