---
layout: layouts/level-play.pug
---

// Style
style.
    #blind-background {
        position: fixed;
        top: 4.5rem; left: 0;

        background: #101228;
        color: white;

        width: 100%;
        min-height: 100vh;
    }

// Content
#blind-background
    p.container Gebruik de tabtoetsen!
    #content.container.hidden
        | !{content}


// Script
script(data-src="/assets/js/level-blind.js" type="text/javascript" data-load-script)