---
layout: layouts/level-play.pug
---

//- simple reverse function to make cheating harder ;)
- const reverse = str => String(str).split("").reverse().join("");

// The styles

style(type="text/css").
    #dyslexie #questions {
        display: none;
    }
    #dyslexie span {
        transition: all .4s;
        text-align: center;
    }
    span.flip {
        display: inline-block;
        transform: scaleX(-1);
    }

    /*  Question page  */

    #dyslexie > * { opacity: 1; transform: none }
    #dyslexie #text.animating      { opacity: 0; transform: translate(-20%) }
    #dyslexie #questions.animating { opacity: 0; transform: translate(20%) }

    /*
    #dyslexie.on-questions #text      { display: none; }
    #dyslexie.on-questions #questions { display: block; }
    */

    #questions .container {
        margin: 3rem auto;
    }
    #questions h2 {
        margin: 2rem 0;
    }

    /* Animations */

    #dyslexie > * {
        opacity: 1;
        transform: none;
        transition: all .5s;
    }


// The page layout

#dyslexie
    #text
        article#content.container
            | !{content}
        .container.center
            button(onclick="dyslexie.changePage()").button= question.button_text

    #questions
        .container
            h2= question.title

            each q, i in questions
                label(for='question_'+i)= q.Q
                input(id='question_'+i type="field" data-correct=reverse(q.A))
            
        .container.buttons
            button(onclick="dyslexie.changePage()").button.back.light= question.button_back_text
            button(onclick="dyslexie.checkQuestions()").button= question.button_send_text

// Script
script(data-src="/assets/js/level-dyslexie.js" type="text/javascript" data-load-script)