---

layout: levels/level-blind.pug
index: 5
title: Blind

# gesproken tekst
page1_intro_text: Welkom bij het Blind level, gebruik de Tab-toetsen om te beginnen
page1_submit_text: Incorrect. Doordat de afbeeldingen geen label hebben is het onmogelijk om deze vraag te beantwoorden. We gaan door naar de volgende pagina.

page2_intro_text: Pagina 2, vul het formulier in. Gebruik de Tab-toetsen om te beginnen
page2_submit_text: Bedankt voor het invullen
page2_submit_incorrect_text: Vul alle invoervelden in.
page2_clear_text: Alle invoervelden zijn gewist

# score popup tekst en knoppen
level_score_win: Level behaald!
level_score_fail: Level gefaald...
level_score_bad: Helaas, probeer het nog een keer.
level_score_good: Goed gedaan, maar het kan beter!
level_score_perfect: Perfect! Heel goed.

level_score_retry: Probeer opnieuw
level_score_next: Ga verder

---

// Pagina 1: geen alt tekst

#page1.active
    h1 Kop: Captcha
    
    p Bewijs dat je geen robot bent om verder te gaan.
    p Hoeveel stoplichten zie je in de onderstaande afbeelding?

    p Afbeelding
    p Afbeelding
    p Afbeelding
    p Afbeelding

    input(type="field" title="Invoerveld: Hoeveelheid" id="page1--discription")

    p(data-confirm="blind.page2.init()") Knop: Verzenden

// Pagina 2: slechte labels

#page2
    h1 Kop: Contactformulier

    p Vul je contactgegevens in om verder te gaan!

    p Hoe zullen we je noemen?
    p Naam
    input(type="field" title="Invoerveld")

    p Waar kunnen we je bereiken?
    p Mail
    input(type="field" title="Invoerveld")

    p Wil je nieuwsbrieven en reclamemails ontvangen?
    
    p(data-confirm="blind.page2.setRadio(true)") Keuzerondje
    p(data-confirm="blind.page2.setRadio(false)") Keuzerondje

    p Ja graag!
    p Nee

    p(data-confirm="blind.page2.confirm()") Knop
    p(data-confirm="blind.page2.clearForm()") Knop

// Pagina 3: einde

#page3
    h1 Bedankt voor het spelen van het blind level
    p(data-confirm="showScore(200)") Knop: Afronden