---
layout: layouts/level-play.pug
index: 1
title: Kleurenblind
---


// styles
style(type="text/css").
    .play-container {
        max-width: 60rem;
        padding: 3rem 0;
    }
    #level {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 100%;
    }
    #level .memory-card {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(25% - 1rem);
        height: 15rem;
        
        background-color: #21CEA0;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        border-radius: 0.5rem;

        cursor: pointer;
    }
    @media (max-width: 35rem) {
        #level .memory-card { height: 8rem }
    }

    .memory-card img {
        width: 50%;
        height: auto;
    }

    #title {
        text-align: center;
        margin-bottom: 3rem;

        font-weight: bold;
        font-size: 1.2rem;
    }



.container.play-container
    h3#title Alleen kleurverschil:
    // Het level
    #level
    // De code
    script(data-src="/assets/js/level1.js" type="text/javascript" data-load-script)





//- shortcut
.container.center
    a(href=`/levels/${index}/outro/`).button Speel level uit