doctype html
html(lang=lang?lang:'en')
    include _includes/layouts/head.pug
    body
        main#swup
            .container.center
                .logo-title
                    img(src='/assets/images/acc_logo.svg' alt='Logo Stichting Accessibility')
                    h1= title
                article
                    | !{content}