doctype html
html(lang=lang?lang:'nl')
    include _includes/layouts/head.pug
    include _includes/mixins/level-mixins.pug
    body
        main#swup
            header
                a(href=`/levels/${index}/intro/` rel="prev").button.light.back Ga terug
                a(href="/" title="Terug naar homepagina")#logo
                    img(src='/assets/images/acc_logo.svg' alt='Logo van Stichting Accessibility')
                    h2 Accessibility Game

            .spacer(style="height: 5rem")

            #game
                | !{content}

            
            //- DEBUG shortcut
            button#skip-level(onclick="showScore(100)" title="Sla level over")

            +level-score(0)