doctype html
html(lang=lang?lang:'en')
    include _includes/layouts/head.pug
    include _includes/mixins/level-mixins.pug
    body
        main#swup
            //- play header (hidden for screenreaders because it would be disctracting)
            header(aria-hidden="true")
                a(href=`/levels/${index}/intro/` rel="prev" tabindex="-1").button.light.back Go back
                a(href="/" tabindex="-1")#logo
                    img(src='/assets/images/acc_logo.svg' alt='Logo Stichting Accessibility')
                    h2 Accessibility Game

            .spacer(style="height: 4.5rem") 

            #game
                | !{content}

            
            //- DEBUG shortcut
            //- button#skip-level(onclick="showScore(100)" title="Sla level over")

            +level-score(0)