---
layout: layouts/index
title: Accessibility Game
---

.container.center
    .logo-title
        img(src='/assets/images/acc_logo.svg' alt='Logo van Stichting Accessibility')
        h1 Accessibility Game

    p.
        Welcome to the Accessibility Game, in this game you will experience what it is like to use a computer, tablet or telephone when you live with a disability. 

    p.
        Each level a disability is simulated. For example, you experience a visual or a cognitive impairment. Each level also includes a brief explanation of what designers and programmers can do to improve the experience for people with this disability. 

    .spacer

    a(href="/levels/1/intro/" title="Play the game").button Play
    br
    a(href="/levels/" title="Go to the level-list").button.light Levels

    .spacer(style="height: 8rem")


    h3.
        Made by the Accessibility Foundation


    .background-images(aria-hidden="true")
        img(src='assets/images/index/cursor_smooth.svg'       alt='')
        img(src='assets/images/index/cursor_wiggle.svg'       alt='')
        img(src='assets/images/index/icon_eye_green.svg'      alt='')
        img(src='assets/images/index/icon_no_sound_green.svg' alt='')
        img(src='assets/images/index/media.svg'               alt='')

