---
layout: layouts/index
title: Accessibility Game
---

.block

.container.center
    .logo-title
        img(src='/assets/images/acc_logo.svg' alt='Logo van Stichting Accessibility')
        h1 Accessibility Game

    p.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    .spacer

    a(href="/levels/1/intro/").button Speel
    br
    a(href="#").button.light Levels


    .spacer(style="height: 15rem")


    h3.
        Gemaakt door Stichting Accessibility  |  Algemene Voorwaarden  |  etc.


    .background-images
        img(src='assets/images/index/cursor_smooth.svg' alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/cursor_wiggle.svg' alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/icon_eye.svg'      alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/icon_no_sound.svg' alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/media.svg'         alt='decoratieve achtergrond afbeelding')

