---
layout: layouts/index
title: Accessibility Game
---

.container.center
    .logo-title
        img(src='/assets/images/acc_logo.svg' alt='Logo van Stichting Accessibility')
        h1 Accessibility Game

    p.
        Welkom bij de Accessibility Game, waarbij je kan ervaren hoe het is om een computer, tablet of telefoon te gebruiken voor mensen met een beperking.

    p.
        In ieder level wordt er een andere beperking gesimuleerd. Er zijn meerdere soorten beperkingen. Zo ervaar je bijvoorbeeld een visuele, cognitieve of een motorische beperking.
        Elk level bevat ook een korte uitleg over wat ontwerpers en programmeurs kunnen doen om de ervaring voor mensen met deze beperking beter te maken.

    .spacer

    a(href="/levels/1/intro/").button Speel
    br
    a(href="/levels/").button.light Levels

    .spacer(style="height: 10rem")


    h3.
        Gemaakt door Stichting Accessibility  |  Algemene Voorwaarden  |  etc.


    .background-images
        img(src='assets/images/index/cursor_smooth.svg'       alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/cursor_wiggle.svg'       alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/icon_eye_green.svg'      alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/icon_no_sound_green.svg' alt='decoratieve achtergrond afbeelding')
        img(src='assets/images/index/media.svg'               alt='decoratieve achtergrond afbeelding')

