// Page Transitions scss file
// for Accessibility Game
// author: Bas de Bruin

// MAIN fade in and out

main {
    transition: opacity .5s;
    opacity: 1;
}
html.is-animating main {
    opacity: 0;
}


// play header
header {
    transition: transform 0.7s;
    transform: none;
}
html.is-animating header {
    transform: translateY(-100%);
}


// fade naar links en naar rechts
//  omhoog en naar beneden op mobiel
.animate-left {
    transition: transform .5s;
    transform: none;
}
html.is-animating .animate-left {
    transform: translateX(-50%);

    @media (max-width: $breakSmall) {
        transform: translateY(-50%);
    }
}

.animate-right {
    transition: transform .5s;
    transform: none;
}
html.is-animating .animate-right {
    transform: translateX(50%);

    @media (max-width: $breakSmall) {
        transform: translateY(50%);
    }
}


// Turn off animations for people that want reduced motion
@media (prefers-reduced-motion) {
    body * {
        transition: none;
    }
}