// HEAD general styles
// for Accessibility Game
// author: Bas de Bruin

:root {
    font-size: $fontSize;
}
html, body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    box-sizing: border-box;
    * { box-sizing: border-box; }
    width: 100%;

    // style
    background: $background;
    color: $color;

    //fonts
    font-family: $fontFamily;
    * { line-height: 1.5em }
}

main {
    //position: relative;
    margin-bottom: 1rem;
    outline: none;
}


// Headings
h1, h2, h3, h4, h5 { 
    font-family: $fontFamilyHeadings; 
    font-weight: normal;
}
h1 {
    font-size: $fontSizeTitle;
    font-weight: bold;
}
h2 {
    font-size: $fontSizeLarge;
    font-weight: bold;
}
h3 {
    font-size: $fontSizeMedium;
    color: $accent;
}

p {
    line-height: 1.5em;
    letter-spacing: 0.025rem;
    margin: 1rem 0;
}

a {
    display: block;
    color: $color;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

// hidden element for accessibility
.hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


// link and button focus
a:focus, button:focus {
    outline-color: $accent;
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dotted;
}

button {
    border: none;
    font-family: $fontFamily;
}

// docs styles
code {
    font-family: menlo, Consolas, Courier, monospace;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    background: rgba($accent, .08);
    color: $accent;
}

hr {
    border-color: $light-accent;
    margin: 2rem 0;
}