// MAIN scss file
// for portfolio site
// author: Bas de Bruin

@import 'variables';
@import 'head';
@import 'animations';

// containers
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $containerSize;
    padding: 0 $padding;
}

.center {
    text-align: center;
}

.large {
    max-width: $breakLarge;
}

.columns {
    display: block;

    @media (min-width: $breakSmall){
        display: flex;
        flex-flow: row nowrap;

        >* {
            margin: 0 $padding*0.5;
            width: 100%;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.padding {
    padding: $padding;
}

.spacer {
    display: block;
    height: $padding;
    width: 100%;
}


p a:not(.button) {
    color: $accent;
    font-weight: bold;
    display: inline;

    border-bottom: solid 2px $light-accent;

    transition: all .15s;
    &:hover {
        border-bottom-color: $accent;
    }
}



// BUTTONS
.button {
    display: inline-block;

    margin: 0.5rem 0 0 0;
    font-size: 1rem;

    width: auto;

    padding: 0.5rem 1.2rem;

    color: $background;
    background: $accent;

    border-radius: 2rem;

    &::after {
        display: inline-block;
        content: url('/assets/images/arrow_right_white.svg');
        margin-left: 0.6rem;
        transform: translateY(0.22rem);
    }


    transition: all .15s;
    &:hover {
        transform: scale(1.03);
    }
    &:active {
        transform: scale(0.97);
    }

    // light button
    &.light {
        color: $accent;
        background: $light-accent;

        &::after {
            content: url('/assets/images/arrow_right_blue.svg');
        }
    }

    // back button
    &.back {
        display: inline-flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        justify-content: center;

        &::after {
            margin: 0 0.5rem 0 0;
            transform: rotate(180deg) translateY(0.22rem);
        }
    }
}



// HOME PAGE
.logo-title {
    display: block;
    margin-top: $topPadding;
    margin-bottom: $padding * 2;

    img {
        width: auto;
        margin: 0 auto;
    }
}
.background-images {
    width: 100%;

    pointer-events: none;

    img {
        width: auto;
        height: auto;

        position: absolute;
        z-index: -999;

        width: calc(20% + 5rem);
    }

    img:nth-child(3), img:nth-child(4), img:nth-child(5) {
        width: auto;
    }

    img:nth-child(1) { left:  0;    top: 15vw }
    img:nth-child(2) { right: -1vw; top: 22vw }
    img:nth-child(3) { right: 15vw; top: 5vw;   transform: rotate(-31deg) }
    img:nth-child(4) { left:  10vw; top: 32rem; transform: rotate(20deg); }
    img:nth-child(5) { right: 6vw;  top: 40rem; transform: rotate(-15deg); }

    @media (max-width: $breakSmall) {
        opacity: .4;
    }
}


// INTRO AND OUTRO

.level-image {
    width: 100%;
    
    background: $light-accent;
    border-radius: 1rem;

    @media (min-width: $breakSmall){
        height: calc(100vh - #{$padding * 2});

        img {
            object-fit: contain;

            width: 100%;
            height: 100%;
        }

        position: fixed;
        top: $padding;
        left: $padding;
        width: 50%;
    }
}

.level-container {
    @extend .container;

    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    min-width: 0;
    max-width: $breakSmall;

    padding: $padding*2 0;

    justify-content: center;
    align-items: center;

    @media (min-width: $breakSmall) {

        margin-left: calc(50% + #{$padding*2});
        min-height:calc(100vh - #{$padding*2});

        padding: $padding*2 $padding;

    }
}

// List
p ul, article ul {
    margin: 1rem 0;

    li {
        display: flex;
        flex-flow: row nowrap;
        margin: 1rem 0;

        background: rgba($accent3, .1);
        border-radius: 1rem;
        padding: 0.5rem 0.9rem;

        //font-size: 1.1rem;

        &::before {
            content: '→';

            font-size: 1.1rem;

            display: block;
            color: $accent3;
            margin-right: 1rem;
        }
    }
}

#level-bar {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;

    width: 100%;
    margin: $padding auto;
}
.level-icon {
    width: 4rem;
    height: 4rem;
    padding: 0.2rem;
    background: $light-accent;
    border-radius: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }
}
.level-number {
    width: 3rem;
    height: 3rem;

    padding: 0.5rem;
    padding-top: 0.65rem;

    border-radius: 1.5rem;

    text-align: center;
    font-size: $fontSizeLarge;

    background: $light-accent;
    color: $accent;

    transition: all .15s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}
.level-dash {
    display: block;

    width: 1.5rem;
    height: 3px;
    margin: auto 0.5rem;
    
    border-radius: 2px;

    background: $light-accent;
}

// PLAYING A LEVEL

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 0.5rem;
    margin: 0;

    align-items: center;
    justify-content: center;

    background: $background;

    box-shadow: 0px 3px $light-accent;

    .button {
        position: absolute;
        left: 1rem;
        top: 0.5rem;
    }

    #logo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;


        img {
            width: 3rem;
            height: auto;
            margin-left: 1rem;
        }

        @media (max-width: $breakSmall*0.7) {
            *:not(img) {
                display: none;
            }
        }
    }

    @media screen and (max-width: $breakSmall) {
        justify-content: flex-end;
        padding-right: $padding;
    }
}


// OUTRO Star Score

#score {

    display: block;
    width: 100%;

    border: solid 2px rgba($color, .1);
    border-radius: 1rem;

    padding: $padding*2 $padding;
    padding-bottom: $padding;
    margin: 0;
    margin-bottom: $padding;

    text-align: center;

    h2 {
        color: $accent;
        font-size: 2rem;
    }
    h4 {
        font-weight: bold;
        margin-bottom: $padding;
    }

    .score-columns {
        display: flex;
        flex-flow: row nowrap;

        margin: $padding*0.5 0;

        padding: 0 $padding*3;

        justify-content: space-around;
        align-items: baseline;

        > * {
            width: 100%;
            margin: 0 $padding;
        }

        img {
            width: 3rem;
            opacity: .5;

            &:nth-child(2) { width: 4rem; opacity: .7 }
            &:nth-child(3) { width: 5rem; opacity: .9 }
            &:nth-child(4) { width: 6rem; opacity: 1 }

            &:last-child {
                margin-right: $padding*0.5;
            }
            &:first-child {
                margin-left: $padding*1.4;
            }
        }

        &:last-of-type {
            margin-bottom: $padding;
        }

        @media (max-width: $breakSmall) {
            padding: 0 $padding*5.5;
            img:nth-child(2) { width: 3.5rem; }
        }
    }

    progress {
        width: 100%;
        height: 0.6rem;

        margin: 0;

        appearance: none;

        &::-webkit-progress-bar {
            border-radius: 0.3rem;
            background: $light-accent;
        }

        &::-webkit-progress-value {
            border-radius: 0.3rem;
            background: $accent;
        }

        &::-moz-progress-bar {
            border-radius: 0.3rem;
            background: $accent;
        }
    }

}


// Level index

// level select element

.level-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    width: 100%;

    margin: 0.3rem 0;
    padding: 0.3rem;

    border-radius: 1rem;

    .level-icon {
        margin-right: $padding;
    }

    h3, h4 {
        font-weight: bold;
        margin-right: 0.5rem;
    }

    transition: all .15s;
    &:hover {
        background: $light-accent;

        transform: scale(1.02);
    }
    &:active {
        transform: scale(0.98);
    }
}


// Level form styles
label {
    display: block;
    color: $accent;
}
input[type=field] {
    display: block;
    width: 100%;
    box-sizing: border-box !important;
    border-radius: 0.5rem;
    border: solid 2px rgba($accent, 0);

    background: $light-accent;

    padding: 0.3rem 0.6rem;
    margin-bottom: 1rem;

    transition: all .2s;

    &:focus {
        outline: none;
        border: solid 2px $accent;
    }
}