// MAIN scss file
// for portfolio site
// author: Bas de Bruin

@import 'variables';
@import 'head';
@import 'animations';

// containers
.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: $breakSmall;
    padding: 0 $padding;
}

.center {
    text-align: center;
}

.large {
    max-width: $breakLarge;
}

.columns {
    display: flex;
    flex-flow: row nowrap;
    > * {
        margin: 0 $padding*0.5;
        width: 100%;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.padding {
    padding: $padding;
}

.spacer {
    display: block;
    height: $padding;
    width: 100%;
}



// BUTTONS
.button {
    display: inline-block;

    margin: 0.5rem 0 0 0;
    font-size: 1rem;

    width: auto;

    padding: 0.5rem 1.2rem;

    color: $background;
    background: $accent;

    border-radius: 2rem;

    &::after {
        display: inline-block;
        content: url('/assets/images/arrow_right_white.svg');
        margin-left: 0.6rem;
        transform: translateY(0.22rem);
    }


    transition: all .15s;
    &:hover {
        transform: scale(1.03);
    }

    // light button
    &.light {
        color: $accent;
        background: $light-accent;

        &::after {
            content: url('/assets/images/arrow_right_blue.svg');
        }
    }
}



// HOME PAGE
.logo-title {
    display: block;
    margin-top: $topPadding;
    margin-bottom: $padding * 2;

    img {
        width: auto;
        margin: 0 auto;
    }
}
.background-images {
    width: 100%;

    img {
        width: auto;
        height: auto;

        position: absolute;
        z-index: -999;

        width: calc(20% + 5rem);
    }

    img:nth-child(3), img:nth-child(4), img:nth-child(5) {
        width: auto;
    }

    img:nth-child(1) { left:  0;    top: 15vw }
    img:nth-child(2) { right: 0;    top: 22vw }
    img:nth-child(3) { right: 15vw; top: 5vw;   transform: rotate(-31deg) }
    img:nth-child(4) { left:  10vw; top: 32rem; transform: rotate(20deg); }
    img:nth-child(5) { right: 6vw;  top: 40rem; transform: rotate(-20deg); }

    @media (max-width: $breakSmall) {
        opacity: .4;
    }
}